{ % extends "mainapp/base.html" % }

{ % block header % }
<script type="text/javascript" src="/static/vshop.js"></script>
{ % endblock % }
{ % block content % }

{% if face %}
    <form id="myform" action="try">
		<input type="text" name="set1" id="set1" />
		<button onmousedown="undo(event)" id="b1" type="button">Clear</button>
		<input type="text" name="set2" id="set2" />
		<button onmousedown="undo(event)" id="b2" type="button">Clear</button>
		<input type="text" name="set3" id="set3" />
		<button onmousedown="undo(event)" id="b3" type="button">Clear</button>
		<input type="text" name="set4" id="set4" />
		<button onmousedown="undo(event)" id="b4" type="button">Clear</button>
	</form>

	<img id ="clicker" onmousedown="show_coords(event)" src="{{ form[0] }}" />
	

{% endif %}

{ % endblock % }
