{% extends "mainapp/base.html" %}

{% block header %}
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/vhshop.js"></script>
{% endblock %}
{% block content %}
Click in order: right side of face, left side of face, right inner eye corner, left inner eye corner.
{% if face %}
    <form id="myform" action="try" enctype="multipart/form-data">
    	{% csrf_token %}
    	<input type="hidden" name="id" value="{{face.pk}}">
		<input type="text" name="set1" id="set1" />
		<button onmousedown="undo(event)" id="b1" type="button">Clear</button>
		<input type="text" name="set2" id="set2" />
		<button onmousedown="undo(event)" id="b2" type="button">Clear</button>
		<input type="text" name="set3" id="set3" />
		<button onmousedown="undo(event)" id="b3" type="button">Clear</button>
		<input type="text" name="set4" id="set4" />
		<button onmousedown="undo(event)" id="b4" type="button">Clear</button>
		<br>
		<img id ="clicker" onmousedown="show_coords(event)" src="{{ image }}" />
		<br>
		<input type="submit" name="submit" />
	</form>
	

{% endif %}

{% endblock %}
