{% extends "mainapp/base.html" %}
{% block content %}
Please select your file:
<!-- try using {% url 'mainapp:upload_face' %} -->
<form action="calibrate" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.image.label_tag }} {{ form.docfile.help_text }}</p>
    <p>
        {{ form.image.errors }}
        {{ form.image }}
    </p>
    <input type="file" name="myfile" />
    <input type="submit" value="Upload" />
</form>
{% endblock %}
